.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
}

.content_input_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.formInput:not(:last-of-type) {
  margin-bottom: 12px;
}

.header {
  font-size: 22px;
  font-weight: 500;
  margin: 12px 0 42px;
}

.agreement_accept,
.hints {
  font-weight: 400;
  font-size: 12px;
  text-decoration: underline;
}

.agreement_accept {
  margin-top: 20px;
}

.hints {
  margin-top: 10px;
}

.btn_accept {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 10px 0;
}
@media (min-width: 1151px) {
  .mobile {
    display: none;
  }
}
@media (max-width: 1150px) and (min-width: 640px) {
  .content {
    height: fit-content;
    width: 95%;
    justify-content: space-around;
    margin: auto;
  }
  .header {
    margin: 10px 0 40px;
  }
  .agreement_accept {
    margin-left: 10px;
    width: 100%;
  }
}
@media (max-width: 639px) {
  .content {
    margin-top: 30px;
    height: fit-content;
    width: 95%;
    justify-content: space-around;
    padding: 10px;
  }
  .header {
    margin: 10px 0 20px;
  }
  .agreement_accept {
    margin-left: 10px;
    width: 100%;
  }
}
